<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>@ViewBag.Title</title>
    <meta name="description" content="BirdingLog">
    <meta name="author" content="Ryan Atkins">
    <!-- My font colletion: https://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,700 -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="resources\css\styles.css?v=1.0">

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
    @RenderBody()
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="resources/js/scripts.js"></script>
</body>

</html>