@model BirdingLog.ViewModels.ContactViewModel
@{ 
    ViewBag.Title = "Contact Us";
    Layout = "_Layout";
}
@section scripts {
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="top-div">
    <div class="col-sm-3 col-md-4"></div>
    <div class="col-sm-6 col-md-4">
        <div id="contact-page-div">
            <h2 class="page-title">Contact Us</h2>
            <form class="contact-form" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                @if (ViewBag.UserMessage != null)
                {
                    <div>@ViewBag.UserMessage</div>

                }
                <div class="formgroup">
                    <label asp-for="Name">Name</label>
                    <input asp-for="Name" type="text" class="form-control" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="formgroup">
                    <label asp-for="Email">Email</label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="formgroup">
                    <label asp-for="Message">Message</label>
                    <textarea asp-for="Message" type="text" rows="5" class="form-control"></textarea>
                    <span asp-validation-for="Message"></span>
                </div>
                <a asp-controller="App" asp-action="Index" class="btn btn-default">Cancel</a>
                <button class="btn btn-success contact-submit" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div class="col-sm-3 col-md-4"></div>
</div>