@{
    ViewBag.Title = "Home";
    Layout = "_Layout";
}

<div class="top-div">
    <div class="welcome-div text-center"><h2>Welcome back, Ryan!</h2></div>
    <div class="hidden-xs col-sm-3"></div>
    <div class="profile-console col-xs-12">
        <div class="col-xs-12 col-sm-2"></div>
        <div class="profile-details col-xs-12 col-sm-3 text-center">
            <img src="http://www.ryancatkins.com/assets/images/face.jpg" alt="profile picture" class="profile-picture" />
            <p>Columbus, OH</p>
            <p>Marathoner</p>
        </div>
        <div class="hidden-xs col-sm-7 profile-achievements">
            <div class="profile-achievement">
                <p>Last photo posted: Blue Jay</p>
            </div>
            <div class="achievement-seperator"></div>
            <div class="profile-achievement">
                <p>Total photos taken: 327</p>
            </div>
        </div>
    </div>
    <div class="hidden-xs col-sm-3"></div>
</div>
<div class="middle-div">
    <div class="image-feed text-center">
        <h2 class="image-feed-title">Top Photos of The Week</h2>
        <img src="http://loremflickr.com/320/320/parrot" alt="">
        <img src="http://loremflickr.com/320/320/bird" alt="">
        <img src="http://loremflickr.com/320/320/birds" alt="">
        <img src="http://loremflickr.com/320/320/eagle" alt="">
        <img src="http://loremflickr.com/320/320/hawk" alt="">
        <img src="http://loremflickr.com/320/320/bluejay" alt="">
        <img src="http://loremflickr.com/320/320/cardinal" alt="">
        <img src="http://loremflickr.com/320/320/africangray" alt="">
        <img src="http://loremflickr.com/320/320/flamingo" alt="">
        <img src="http://loremflickr.com/320/320/duck" alt="">
        <img src="http://loremflickr.com/320/320/pigon" alt="">
        <img src="http://loremflickr.com/320/320/falcon" alt="">
        <img src="http://loremflickr.com/320/320/raptor" alt="">
        <img src="http://loremflickr.com/320/320/hummingbird" alt="">
        <img src="http://loremflickr.com/320/320/parakeet" alt="">
        <img src="http://loremflickr.com/320/320/wigeon" alt="">
        <img src="http://loremflickr.com/320/320/crow" alt="">
        <img src="http://loremflickr.com/320/320/finch" alt="">
        <img src="http://loremflickr.com/320/320/gull" alt="">
        <img src="http://loremflickr.com/320/320/gamebird" alt="">
    </div>
</div>