@{
    ViewBag.Title = "Profile Info";
    Layout = "_Layout";
}

<h2 class="page-title">Profile Info</h2>

<div class="top-div">
    <span class="profile-detail"></span>
    <span class="profile-detail"></span>
    <span class="profile-detail"></span>
    <span class="profile-detail"></span>
    <span class="profile-detail"></span>
    <span class="profile-detail"></span>
</div>