@{ 
    ViewBag.Title = "Account Settings";
    Layout = "_Layout";
}

<h2 class="page-title">Account Settings</h2>

<div class="top-div">
    <span class="account-detail"></span>
    <span class="account-detail"></span>
    <span class="account-detail"></span>
    <span class="account-detail"></span>
    <span class="account-detail"></span>
    <span class="account-detail"></span>
</div>